Source: chomotkar
Section: utils
Priority: optional
Maintainer: rafikfarhad <rafikfarhad@gmail.com>
Build-Depends: cmake, build-essential, libcurl4-openssl-dev, debhelper (>= 10)
Standards-Version: 1.0.0
Homepage: chomotkar.rafikfarhad.me
Vcs-Git: https://github.com/RafikFarhad/chomotkar.git

Package: chomotkar
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Chomotkar is utilty for Debian like PC's.
